[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
twine = "*"
wheel = "*"
autopep8 = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-pylint = "*"

[packages]

[requires]
python_version = "3.7"
